body {
    font-family: 'Titillium Web', sans-serif;
}

.about-us {
    .img-github {
        display: flex;
        justify-content: center;
    }
    img {
        height: 100px;
    }
    div {
        width: 1500px;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
        margin: 30px;
    }
}