footer {
    margin: 0 auto;
    max-width: 1050px;
    background-color: #ffffff;
    text-align: center;
    .btn {
        position: absolute;
        top: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        color: black;
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        .btn:hover {
            background-color: black;
            color: white;
        }
    }
}