body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: calc(100% - (30px * 2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 2px 12px rgba(136, 136, 136, 0.1);
    img {
        height: 40px;
    }
    nav a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 13px;
    }
}

.about-us {
    font-family: 'Titillium Web', sans-serif;
    img {
        height: 100px;
        width: 200px;
        margin-left: auto;
    }
    div {
        height: 100px;
        width: 1080px;
    }
    h1 {
        text-align: center;
        margin-top: auto;
    }
    p {
        text-align: center;
        margin: 30px 30px 30px 30px;
    }
}

.galery {
    display: flex;
    max-width: 1050px;
    width: 850px;
    text-align: center;
    justify-items: center;
    padding: 50px;
    img {
        width: 500px;
    }
    .text-card {
        padding-left: 40px;
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
    }
}

footer {
    margin: 0 auto;
    max-width: 1050px;
    background-color: #ffffff;
    text-align: center;
    button {
        position: absolute;
        top: 20%;
        transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        color: black;
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}